.blog {
  &__container {
    display: grid;
    padding-top: 60px;
    padding-bottom: 80px;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);
  }
}

.blog-list {
  display: grid;
  grid-column: 8 span;
  grid-template-columns: repeat(8, 1fr);
  gap: var(--gap);

  &__item {
    grid-column: 4 span;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }



  &__item:nth-child(7n) {
    grid-column: 8 span;
    //text-align: start;
  }

  &__item:not(:nth-child(7n)) {
    //text-align: center;
  }

  &__item:not(:nth-child(7n)) .blog-post__timeposting {
    //margin: 0 auto;
  }
}

.sidebar {
  grid-column: 10 / 3 span;
  background-color: aqua;
}
