.blog {
  &__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding-top: 60px;
    padding-bottom: 80px;
    gap: var(--gap);
  }
}

.posts {
  display: grid;
  grid-column: 8 span;
  grid-template-columns: repeat(8, 1fr);
}

.blog-list {
  display: grid;
  grid-column: 8 span;
  grid-template-columns: repeat(8, 1fr);
  margin-bottom: 60px;
  gap: var(--gap);

  &__item {
    grid-column: 4 span;
    /* stylelint-disable-next-line color-function-notation */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 10%);
  }

  &__item:nth-child(7n) {
    grid-column: 8 span;
  }

  &__item:nth-child(7n) .wrapper {
    align-items: flex-start;
    padding: 25px 30px;
  }

  &__item:not(:nth-child(7n)) .wrapper {
    align-items: center;
    padding: 15px 30px;
    text-align: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.sidebar {
  grid-column: 10 / 3 span;
}
