.blog {
  &__container {
    display: grid;
    padding-top: 60px;
    padding-bottom: 80px;
    grid-template-columns: repeat(12, 1fr);
    gap: var(--gap);
  }
}
.posts {
  grid-column: 8 span;
}

.blog-list {
  display: grid;

  grid-template-columns: repeat(8, 1fr);
  gap: var(--gap);

  &__item {
    grid-column: 4 span;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  }

  &__item:nth-child(7n) {
    grid-column: 8 span;
  }

  &__item:nth-child(7n) .wrapper {
    align-items: flex-start;
    padding: 25px 30px;
  }

  &__item:not(:nth-child(7n)) .wrapper {
    align-items: center;
    padding: 15px 30px;
    text-align: center;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
}
.sidebar {
  grid-column: 10 / 3 span;
  background-color: aqua;
}
