.hero {
  width: 100%;
  background-image: url("/img/Hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #fff;

  &__blog-post {
    padding-top: 488px;
    padding-bottom: 59px;
    max-width: 560px;
  }
}
