.nav {
  &__list {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin-right: 34px;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-decoration: none;
    color: var(--black-text);
  }

  &__item:last-child {
    margin-right: 0;
  }

  &__link {

  }
}
