<section class="blog">
  <h2 class="visually-hidden">Список статей блога</h2>
  <div class="container blog__container">
    <ul class="blog-list list-reset">
      <li class="blog-list__item">
        <article class="blog-post">
          <a href="№" class="blog-post__image"><img loading="lazy" src="/img/1.jpg" class="image" width="370" height="411" alt=""></a>
          <a href="№" class="tag blog-post__tag">Tourism</a>
          <h3 class="title blog-post__title"><a href="#" class="title__link">One of Saturn’s largest rings may be newer than anyone</a></h3>
          <ul class="time-posting blog-post__timeposting">
            <li class="time-posting__date">
              <time class="time-posting__text time-posting__text_dark-grey">
                June 6, 2019
              </time>
            </li>
            <li class="time-posting__author">
              <p class="time-posting__text time-posting__text_dark-grey">
                <span class="time-posting__first-word time-posting__first-word_light-grey">
                  By
                </span>
                Rickie Baroch
              </p>
            </li>
          </ul>
        </article>
      </li>
      <li class="blog-list__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/2.jpg" class="image" width="370" height="411" alt=""></a>
          <a href="" class="tag blog-post__tag">Tourism</a>
          <h3 class="title blog-post__title"><a href="#" class="title__link">One of Saturn’s largest rings may be newer than anyone</a></h3>
          <ul class="time-posting blog-post__timeposting">
            <li class="time-posting__date">
              <time class="time-posting__text time-posting__text_dark-grey">
                June 6, 2019
              </time>
            </li>
            <li class="time-posting__author">
              <p class="time-posting__text time-posting__text_dark-grey">
                <span class="time-posting__first-word time-posting__first-word_light-grey">
                  By
                </span>
                Rickie Baroch
              </p>
            </li>
          </ul>
        </article>
      </li>
      <li class="blog-list__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/3.jpg" class="image" width="370" height="411" alt=""></a>
          <a href="" class="tag blog-post__tag">Tourism</a>
          <h3 class="title blog-post__title"><a href="#" class="title__link">One of Saturn’s largest rings may be newer than anyone</a></h3>
          <ul class="time-posting blog-post__timeposting">
            <li class="time-posting__date">
              <time class="time-posting__text time-posting__text_dark-grey">
                June 6, 2019
              </time>
            </li>
            <li class="time-posting__author">
              <p class="time-posting__text time-posting__text_dark-grey">
                <span class="time-posting__first-word time-posting__first-word_light-grey">
                  By
                </span>
                Rickie Baroch
              </p>
            </li>
          </ul>
        </article>
      </li>
      <li class="blog-list__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/4.jpg" class="image" width="370" height="411" alt=""></a>
          <a href="" class="tag blog-post__tag">Tourism</a>
          <h3 class="title blog-post__title"><a href="#" class="title__link">One of Saturn’s largest rings may be newer than anyone</a></h3>
          <ul class="time-posting blog-post__timeposting">
            <li class="time-posting__date">
              <time class="time-posting__text time-posting__text_dark-grey">
                June 6, 2019
              </time>
            </li>
            <li class="time-posting__author">
              <p class="time-posting__text time-posting__text_dark-grey">
                <span class="time-posting__first-word time-posting__first-word_light-grey">
                  By
                </span>
                Rickie Baroch
              </p>
            </li>
          </ul>
        </article>
      </li>
      <li class="blog-list__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/5.jpg" class="image" width="370" height="411" alt=""></a>
          <a href="" class="tag blog-post__tag">Tourism</a>
          <h3 class="title blog-post__title"><a href="#" class="title__link">One of Saturn’s largest rings may be newer than anyone</a></h3>
          <ul class="time-posting blog-post__timeposting">
            <li class="time-posting__date">
              <time class="time-posting__text time-posting__text_dark-grey">
                June 6, 2019
              </time>
            </li>
            <li class="time-posting__author">
              <p class="time-posting__text time-posting__text_dark-grey">
                <span class="time-posting__first-word time-posting__first-word_light-grey">
                  By
                </span>
                Rickie Baroch
              </p>
            </li>
          </ul>
        </article>
      </li>
      <li class="blog-list__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/6.jpg" class="image" width="370" height="411" alt=""></a>
          <a href="" class="tag blog-post__tag">Tourism</a>
          <h3 class="title blog-post__title"><a href="#" class="title__link">One of Saturn’s largest rings may be newer than anyone</a></h3>
          <ul class="time-posting blog-post__timeposting">
            <li class="time-posting__date">
              <time class="time-posting__text time-posting__text_dark-grey">
                June 6, 2019
              </time>
            </li>
            <li class="time-posting__author">
              <p class="time-posting__text time-posting__text_dark-grey">
                <span class="time-posting__first-word time-posting__first-word_light-grey">
                  By
                </span>
                Rickie Baroch
              </p>
            </li>
          </ul>
        </article>
      </li>
      <li class="blog-list__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/7.jpg" class="image" width="770" height="561" alt=""></a>
          <a href="" class="tag blog-post__tag">Tourism</a>
          <h3 class="title blog-post__title"><a href="#" class="title__link">One of Saturn’s largest rings may be newer than anyone</a></h3>
          <ul class="time-posting blog-post__timeposting">
            <li class="time-posting__date">
              <time class="time-posting__text time-posting__text_dark-grey">
                June 6, 2019
              </time>
            </li>
            <li class="time-posting__author">
              <p class="time-posting__text time-posting__text_dark-grey">
                <span class="time-posting__first-word time-posting__first-word_light-grey">
                  By
                </span>
                Rickie Baroch
              </p>
            </li>
            <li class="time-posting__comments">
              <a href="#" class="time-posting__link time-posting__link_dark-grey">
                6 comments
              </a>
            </li>
          </ul>
          <p class="blog-post blog-post__descr">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem</p>
        </article>
      </li>
      <li class="blog-list__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/8.jpg" class="image" width="370" height="411" alt=""></a>
          <a href="" class="tag blog-post__tag">Tourism</a>
          <h3 class="title blog-post__title"><a href="#" class="title__link">One of Saturn’s largest rings may be newer than anyone</a></h3>
          <ul class="time-posting blog-post__timeposting">
            <li class="time-posting__date">
              <time class="time-posting__text time-posting__text_dark-grey">
                June 6, 2019
              </time>
            </li>
            <li class="time-posting__author">
              <p class="time-posting__text time-posting__text_dark-grey">
                <span class="time-posting__first-word time-posting__first-word_light-grey">
                  By
                </span>
                Rickie Baroch
              </p>
            </li>
          </ul>
        </article>
      </li>
      <li class="blog-list__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/9.jpg" class="image" width="370" height="411" alt=""></a>
          <a href="" class="tag blog-post__tag">Tourism</a>
          <h3 class="title blog-post__title"><a href="#" class="title__link">One of Saturn’s largest rings may be newer than anyone</a></h3>
          <ul class="time-posting blog-post__timeposting">
            <li class="time-posting__date">
              <time class="time-posting__text time-posting__text_dark-grey">
                June 6, 2019
              </time>
            </li>
            <li class="time-posting__author">
              <p class="time-posting__text time-posting__text_dark-grey">
                <span class="time-posting__first-word time-posting__first-word_light-grey">
                  By
                </span>
                Rickie Baroch
              </p>
            </li>
          </ul>
        </article>
      </li>
      <li class="blog-list__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/10.jpg" class="image" width="370" height="411" alt=""></a>
          <a href="" class="tag blog-post__tag">Tourism</a>
          <h3 class="title blog-post__title"><a href="#" class="title__link">One of Saturn’s largest rings may be newer than anyone</a></h3>
          <ul class="time-posting blog-post__timeposting">
            <li class="time-posting__date">
              <time class="time-posting__text time-posting__text_dark-grey">
                June 6, 2019
              </time>
            </li>
            <li class="time-posting__author">
              <p class="time-posting__text time-posting__text_dark-grey">
                <span class="time-posting__first-word time-posting__first-word_light-grey">
                  By
                </span>
                Rickie Baroch
              </p>
            </li>
          </ul>
        </article>
      </li>
      <li class="blog-list__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/11.jpg" class="image" width="370" height="411" alt=""></a>
          <a href="" class="tag blog-post__tag">Tourism</a>
          <h3 class="title blog-post__title"><a href="#" class="title__link">One of Saturn’s largest rings may be newer than anyone</a></h3>
          <ul class="time-posting blog-post__timeposting">
            <li class="time-posting__date">
              <time class="time-posting__text time-posting__text_dark-grey">
                June 6, 2019
              </time>
            </li>
            <li class="time-posting__author">
              <p class="time-posting__text time-posting__text_dark-grey">
                <span class="time-posting__first-word time-posting__first-word_light-grey">
                  By
                </span>
                Rickie Baroch
              </p>
            </li>
          </ul>
        </article>
      </li>
    </ul>
    <aside class="sidebar"></aside>
  </div>
</section>
