<section class="blog">
  <h2 class="visually-hidden">Список статей блога</h2>
  <div class="container">
    <ul class="blog__list">
      <li class="blog__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/1.jpg" class="image" width="" height="" alt=""></a>
          <a href="" class="blog-post__tag">Tourism</a>
          <h3 class="blog-post__title">One of Saturn’s largest rings may be newer than anyone</h3>
          <ul class="time-posting hero__time-posting">
            <li class="time-posting__date"><a href="#" class="time-posting__link time-posting__link_dark-grey">June 6, 2019</a></li>
            <li class="time-posting__author"><span class="time-posting__first-word time-posting__first-word_light-grey">By </span><a href="#" class="time-posting__link time-posting__link_dark-grey">Rickie Baroch</a></li>
          </ul>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/2.jpg" class="image" width="" height="" alt=""></a>
          <a href="" class="blog-post__tag">sport</a>
          <h3 class="blog-post__title">One of Saturn’s largest rings may be newer than anyone</h3>
          <ul class="time-posting hero__time-posting">
            <li class="time-posting__date"><a href="#" class="time-posting__link time-posting__link_dark-grey">June 6, 2019</a></li>
            <li class="time-posting__author"><span class="time-posting__first-word time-posting__first-word_light-grey">By </span><a href="#" class="time-posting__link time-posting__link_dark-grey">Rickie Baroch</a></li>
          </ul>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/3.jpg" class="image" width="" height="" alt=""></a>
          <a href="" class="blog-post__tag">fashion</a>
          <h3 class="blog-post__title">One of Saturn’s largest rings may be newer than anyone</h3>
          <ul class="time-posting blog-post__time-posting">
            <li class="time-posting__date"><a href="#" class="time-posting__link time-posting__link_dark-grey">June 6, 2019</a></li>
            <li class="time-posting__author"><span class="time-posting__first-word time-posting__first-word_light-grey">By </span><a href="#" class="time-posting__link time-posting__link_dark-grey">Rickie Baroch</a></li>
          </ul>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/4.jpg" class="image" width="" height="" alt=""></a>
          <a href="" class="blog-post__tag">clothes</a>
          <h3 class="blog-post__title">One of Saturn’s largest rings may be newer than anyone</h3>
          <ul class="time-posting blog-post__time-posting">
            <li class="time-posting__date"><a href="#" class="time-posting__link time-posting__link_dark-grey">June 6, 2019</a></li>
            <li class="time-posting__author"><span class="time-posting__first-word time-posting__first-word_light-grey">By </span><a href="#" class="time-posting__link time-posting__link_dark-grey">Rickie Baroch</a></li>
          </ul>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/5.jpg" class="image" width="" height="" alt=""></a>
          <a href="" class="blog-post__tag">clothes</a>
          <h3 class="blog-post__title">One of Saturn’s largest rings may be newer than anyone</h3>
          <ul class="time-posting blog-post__time-posting">
            <li class="time-posting__date"><a href="#" class="time-posting__link time-posting__link_dark-grey">June 6, 2019</a></li>
            <li class="time-posting__author"><span class="time-posting__first-word time-posting__first-word_light-grey">By </span><a href="#" class="time-posting__link time-posting__link_dark-grey">Rickie Baroch</a></li>
          </ul>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/6.jpg" class="image" width="" height="" alt=""></a>
          <a href="" class="blog-post__tag">fashion</a>
          <h3 class="blog-post__title">One of Saturn’s largest rings may be newer than anyone</h3>
          <ul class="time-posting blog-post__time-posting">
            <li class="time-posting__date"><a href="#" class="time-posting__link time-posting__link_dark-grey">June 6, 2019</a></li>
            <li class="time-posting__author"><span class="time-posting__first-word time-posting__first-word_light-grey">By </span><a href="#" class="time-posting__link time-posting__link_dark-grey">Rickie Baroch</a></li>
          </ul>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/7.jpg" class="image" width="" height="" alt=""></a>
          <a href="" class="blog-post__tag">Summer</a>
          <h3 class="blog-post__title">One of Saturn’s largest rings may be newer than anyone</h3>
          <ul class="time-posting blog-post__time-posting">
            <li class="time-posting__date"><a href="#" class="time-posting__link time-posting__link_dark-grey">June 6, 2019</a></li>
            <li class="time-posting__author"><span class="time-posting__first-word time-posting__first-word_light-grey">By </span><a href="#" class="time-posting__link time-posting__link_dark-grey">Rickie Baroch</a></li>
          </ul>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/8.jpg" class="image" width="" height="" alt=""></a>
          <a href="" class="blog-post__tag">Autumn</a>
          <h3 class="blog-post__title">One of Saturn’s largest rings may be newer than anyone</h3>
          <ul class="time-posting blog-post__time-posting">
            <li class="time-posting__date"><a href="#" class="time-posting__link time-posting__link_dark-grey">June 6, 2019</a></li>
            <li class="time-posting__author"><span class="time-posting__first-word time-posting__first-word_light-grey">By </span><a href="#" class="time-posting__link time-posting__link_dark-grey">Rickie Baroch</a></li>
          </ul>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/9.jpg" class="image" width="" height="" alt=""></a>
          <a href="" class="blog-post__tag">clothes</a>
          <h3 class="blog-post__title">One of Saturn’s largest rings may be newer than anyone</h3>
          <ul class="time-posting blog-post__time-posting">
            <li class="time-posting__date"><a href="#" class="time-posting__link time-posting__link_dark-grey">June 6, 2019</a></li>
            <li class="time-posting__author"><span class="time-posting__first-word time-posting__first-word_light-grey">By </span><a href="#" class="time-posting__link time-posting__link_dark-grey">Rickie Baroch</a></li>
          </ul>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/10.jpg" class="image" width="" height="" alt=""></a>
          <a href="" class="blog-post__tag">summer</a>
          <h3 class="blog-post__title">One of Saturn’s largest rings may be newer than anyone</h3>
          <ul class="time-posting blog-post__time-posting">
            <li class="time-posting__date"><a href="#" class="time-posting__link time-posting__link_dark-grey">June 6, 2019</a></li>
            <li class="time-posting__author"><span class="time-posting__first-word time-posting__first-word_light-grey">By </span><a href="#" class="time-posting__link time-posting__link_dark-grey">Rickie Baroch</a></li>
          </ul>
        </article>
      </li>
      <li class="blog__item">
        <article class="blog-post">
          <a href="" class="blog-post__image"><img loading="lazy" src="/img/11.jpg" class="image" width="" height="" alt=""></a>
          <a href="" class="blog-post__tag">summer</a>
          <h3 class="blog-post__title">One of Saturn’s largest rings may be newer than anyone</h3>
          <ul class="time-posting blog-post__time-posting">
            <li class="time-posting__date"><a href="#" class="time-posting__link time-posting__link_dark-grey">June 6, 2019</a></li>
            <li class="time-posting__author"><span class="time-posting__first-word time-posting__first-word_light-grey">By </span><a href="#" class="time-posting__link time-posting__link_dark-grey">Rickie Baroch</a></li>
          </ul>
        </article>
      </li>
    </ul>
  </div>
</section>
