<header class="header">
  <div class="container-fluid header__container-fluid">
    <picture>
      <source srcset="img/Logotype.avif" type="image/avif">
      <source srcset="img/Logotype.webp" type="image/webp">
      <img loading="lazy" src="img/Logotype.jpg" class="image" width="128px" height="32px" alt="Logo">
    </picture>
    <nav class="nav" title="Menu">
      <ul class="nav__list">
        <li class="nav__item"><a href="#home" class="nav__link">Home</a></li>
        <li class="nav__item"><a href="#recipes" class="nav__link">Recipes</a></li>
        <li class="nav__item"><a href="#article" class="nav__link">Article</a></li>
        <li class="nav__item"><a href="#contact" class="nav__link">Contact</a></li>
        <li class="nav__item"><a href="#purchase" class="nav__link">Purchase</a></li>
      </ul>
    </nav>
  </div>
</header>
