<section class="hero">
  <div class="container">
    <div class="hero__post">
      <p class="hero__tag">Vehicle</p>
      <h3 class="hero__title">One of Saturn’s largest rings may be newer than anyone</h3>
      <ul class="hero__time-posting">
        <li class="hero__date"><a href="#" class="hero__link">June 6, 2019</a></li>
        <li class="hero__author"><span class="hero__first-word">By </span><a href="#" class="hero__link">Rickie Baroch</a></li>
        <li class="hero__comments"><a href="#" class="hero__link">4 comments</a></li>
      </ul>
    </div>
  </div>
</section>
