<section class="hero">
  <h2 class="visually-hidden">Последняя новость</h2>
  <div class="container">
    <div class="hero__post">
      <a href="#" class="hero__tag">Vehicle</a>
      <h3 class="hero__title">One of Saturn’s largest rings may be newer than anyone</h3>
      <ul class="time-posting">
        <li class="time-posting__date">
          <a href="#" class="time-posting__link time-posting__link_white">
            June 6, 2019
          </a>
        </li>
        <li class="time-posting__author">
          <span class="time-posting__first-word time-posting__first-word_grey">
            By
          </span>
          <a href="#" class="time-posting__link time-posting__link_white">
            Rickie Baroch
          </a>
        </li>
        <li class="time-posting__comments">
          <a href="#" class="time-posting__link time-posting__link_white">
            4 comments
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
