<section class="hero">
  <h2 class="visually-hidden">Последняя новость</h2>
  <div class="container">
    <div class="post hero__post">
      <a href="#" class="tag hero__tag">Vehicle</a>
      <h3 class="title hero__title"><a href="#" class="title__link">One of Saturn’s largest rings may be newer than anyone</a></h3>
      <ul class="time-posting">
        <li class="time-posting__date">
          <time class="time-posting__text time-posting__text_white">
            June 6, 2019
          </time>
        </li>
        <li class="time-posting__author">
          <p class="time-posting__text time-posting__text_white">
            <span class="time-posting__first-word time-posting__first-word_grey">
              By
            </span>
            Rickie Baroch
          </p>
        </li>
        <li class="time-posting__comments">
          <a href="#" class="time-posting__link time-posting__link_white">
            4 comments
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
